annotated-types
pillow
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
dnspython
Flask
Flask-Login
Flask-PyMongo
google
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
idna
itsdangerous
Jinja2
MarkupSafe
proto-plus
gunicorn
protobuf
pyasn1
pyasn1-modules
pydantic
pydantic_core
pymongo
requests
rsa
soupsieve
tqdm
typing_extensions
urllib3
Werkzeug
